/*全体のフォント、基本的なh1〜h6、aタグなどの設定*/
@use "variables" as var;
@use "mixin" ;


body { 
    //サイズ
    width: 100%;
    height: 100%;
    min-width: var.$min-width-site;

    //背景
    background-color: var.$color-primary;

    //フォント系
    font-family: 'Kiwi Maru', sans-serif;
    color:var.$color-text-base; 
    font-size: var.$font-size-m; 
    line-height: 1.6; 
}

h1{
    padding-top: var.$spacing-xxl;
    font-size: var.$font-size-h1;
    text-align: center;
}
h2{
    padding-bottom: var.$spacing-m;
    font-size: var.$font-size-h2;
    text-align: center;
}
h3{
    font-size: var.$font-size-h3;
    font-weight: 500;
}
p{
    padding-top: var.$spacing-xs;
    font-size: var.$font-size-m;
}

img{
    width: 300px;
}

a{
    text-decoration: none;
    color: var.$color-text-base;
}